
  <div class="container about">
    <div class="col-12" style="text-align: center; margin-top: 100px;">
        <h1>Work</h1>
    </div>
  </div>

  
    <div class="image-gallery">
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>

    </div>

    
