<div class="container" style="margin-top: 100px;">
    <p class="buttonsFont">Drag inside the Image to see space in 360°!</p>
    <svg class="drag-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M9 18l3 3 3-3M9 6l3-3 3 3M18 9l3 3-3 3M6 9L3 12l3 3"/>
        <path d="M5 12h14M12 5v14"/>
    </svg>
</div>

<div class="container">
    <div class="col-12">
        <canvas id="three-canvas"></canvas>
    </div>
</div>

<div class="container">
<div class="col-12 text" style="text-align: center;">
    <h3>Check Some Photos</h3>
</div>
</div>

<div class="image-gallery">
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
</div>
