<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" href="work.component.css"> <!-- Use o CSS específico do componente About Me -->

</head>

<body>
    <div class="image-gallery">
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>
        <div class="image-box">
            <img src="assets/marta.jpeg" alt="img.jpg">
            <div class="overlay">
                <div class="details">
                   <h3 class="title">
                     <a>Artista</a>
                   </h3> 
                   <span class="category">
                    <a>TattoStyle</a>
                   </span>
                </div>
            </div>
        </div>

    </div>

    
  </body>