<div class="container">
    <div class="col-12">
        <canvas id="three-canvas"></canvas>
    </div>
</div>

<div class="container">
<div class="col-12 text" style="text-align: center;">
    <h3>Check Some Photos</h3>
</div>
</div>

<div class="image-gallery">
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
    <div class="image-box">
        <img src="assets/marta.jpeg" alt="img.jpg">
        <div class="overlay">
            <div class="details">
               <h3 class="title">
                 <a href="#">Artista</a>
               </h3> 
               <span class="category">
                <a href="#">TattoStyle</a>
               </span>
            </div>
        </div>
    </div>
</div>
