<nav class="navbar">
    <div class="container">
        <div class="col-2 logo">
            <p id="navLogo">patricia.tattooer</p>
        </div>
        <div class="col-3"></div> <!-- Adicionado para criar o espaço necessário -->
        <div class="col-5 nav-menu">
            <ul class="nav-links">
                <li><a href="#our-space">OUR SPACE</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#pricing">PRICING</a></li>
                <li><a href="#contact">CONTACT</a></li>
                <li><a href="#contact">WORK</a></li>
            </ul>
        </div>
        <div class="col-2 booking">
            <a href="#bookings" class="booking-button">BOOKINGS</a>
        </div>
        <div class="menu-icon" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="dropdown-menu" [class.active]="menuActive">
            <a href="#our-space">OUR SPACE</a>
            <span class="divider"></span>
            <a href="#about">ABOUT</a>
            <span class="divider"></span>
            <a href="#pricing">PRICING</a>
            <span class="divider"></span>
            <a href="#contact">CONTACT</a>
            <span class="divider" style="margin-bottom: 10px;"></span>
            <a href="#bookings" class="booking-button">BOOKINGS</a>
        </div>
    </div>
</nav>
