<ng-container *ngIf="!isResponsive">
    <div class="container about">
        <div class="col-12" style="text-align: center;">
            <h1>About</h1>
        </div>

        <img id="top-center-image" src="./assets/Ellipse.png" alt="Ellipse Image">

        <div class="col-1"></div>
        <div class="col-4 perfil">
            <img id="perfil-image" src="./assets/perfil-image.png" alt="perfil-image.png">
        </div>
        <div class="col-2"></div>
        <div class="col-5">
            <h3>Patrícia Silva</h3>
            <p>fashion designer | tattoo artist</p>
            <h3>PRIVATE TATTOO STUDIO</h3>
            <p>Matosinhos, Portugal</p>
        </div>

        <div class="col-12">
            <h3 style="margin-bottom: 20px; margin-top: 150px;">How It Started</h3>
        </div>
        <div class="col-6">
            <p style="margin-top: 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus, 
                ipsum sit amet tristique varius, diam erat porttitor leo, a maximus 
                quam arcu quis tellus. Pellentesque ornare metus eu velit tempus hendrerit. 
                Praesent scelerisque purus in varius luctus. Praesent eu tellus erat. 
                Nulla vitae sapien eu est pellentesque tempus in nec arcu. 
                Pellentesque vitae augue nec mauris ornare egestas quis vitae erat. 
                Nunc et egestas tortor. Maecenas dapibus orci in faucibus pretium. 
                Cras non consequat quam. Quisque aliquam, lacus eu mattis suscipit, 
                nisi tortor rhoncus nulla, a ultrices metus lacus sed leo. 
                Nullam ornare eros at diam suscipit, ut blandit dolor tristique. 
                Duis est nisl, commodo quis pharetra nec, dapibus eu tortor. 
                Vivamus id libero egestas, ultricies nisi nec, accumsan orci.
                Vestibulum in maximus est, et bibendum augue.
            </p>
        </div>
        <div class="col-2"></div>
        <div class="col-4">
            <img id="image1" src="./assets/fotoAbout1.png" alt="fotoAbout1.png">
        </div>


        <div class="col-6"></div>
        <div class="col-6">
            <h3 style="margin-bottom: 20px; margin-top: 150px;">How It Started</h3>
        </div>
        <div class="col-4">
            <img id="image1" src="./assets/fotoAbout1.png" alt="fotoAbout1.png">
        </div>
        <div class="col-2"></div>
        <div class="col-6">
            <p style="margin-top: 0px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus, 
                ipsum sit amet tristique varius, diam erat porttitor leo, a maximus 
                quam arcu quis tellus. Pellentesque ornare metus eu velit tempus hendrerit. 
                Praesent scelerisque purus in varius luctus. Praesent eu tellus erat. 
                Nulla vitae sapien eu est pellentesque tempus in nec arcu. 
                Pellentesque vitae augue nec mauris ornare egestas quis vitae erat. 
                Nunc et egestas tortor. Maecenas dapibus orci in faucibus pretium. 
                Cras non consequat quam. Quisque aliquam, lacus eu mattis suscipit, 
                nisi tortor rhoncus nulla, a ultrices metus lacus sed leo. 
                Nullam ornare eros at diam suscipit, ut blandit dolor tristique. 
                Duis est nisl, commodo quis pharetra nec, dapibus eu tortor. 
                Vivamus id libero egestas, ultricies nisi nec, accumsan orci.
                Vestibulum in maximus est, et bibendum augue.
            </p>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="isResponsive">
    <div class="container about">
    <div class="col-12" style="text-align: center;">
        <h1>About</h1>
    </div>

    <img id="top-center-image" src="./assets/Ellipse.png" alt="Ellipse Image">

    <div class="col-5">
        <h3 style="margin-bottom: 10px;">Patrícia Silva</h3>
    </div>
    <div class="col-4 perfil">
        <img id="perfil-image" src="./assets/perfil-image.png" alt="perfil-image.png">
    </div>
    <div class="col-5">
        <p style="margin-top: 30px;">fashion designer | tattoo artist</p>
        <h3>PRIVATE TATTOO STUDIO</h3>
        <p>Matosinhos, Portugal</p>
    </div>

    <div class="col-12">
        <h3 style="margin-bottom: 20px; margin-top: 150px; text-align: center;">How It Started</h3>
    </div>
    <div class="col-6">
        <p style="margin-top: 0px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus, 
            ipsum sit amet tristique varius, diam erat porttitor leo, a maximus 
            quam arcu quis tellus. Pellentesque ornare metus eu velit tempus hendrerit. 
            Praesent scelerisque purus in varius luctus. Praesent eu tellus erat. 
            Nulla vitae sapien eu est pellentesque tempus in nec arcu. 
            Pellentesque vitae augue nec mauris ornare egestas quis vitae erat. 
            Nunc et egestas tortor. Maecenas dapibus orci in faucibus pretium. 
            Cras non consequat quam. Quisque aliquam, lacus eu mattis suscipit, 
            nisi tortor rhoncus nulla, a ultrices metus lacus sed leo. 
            Nullam ornare eros at diam suscipit, ut blandit dolor tristique. 
            Duis est nisl, commodo quis pharetra nec, dapibus eu tortor. 
            Vivamus id libero egestas, ultricies nisi nec, accumsan orci.
            Vestibulum in maximus est, et bibendum augue.
        </p>
    </div>
    <div class="col-4" style="width: 100%;">
        <img id="image1" src="./assets/fotoAbout1.png" alt="fotoAbout1.png" style="width: 100%;">
    </div>


    <div class="col-6"></div>
    <div class="col-6">
        <h3 style="margin-bottom: 20px; margin-top: 150px;">How It Started</h3>
    </div>
    <div class="col-4">
        <img id="image1" src="./assets/fotoAbout1.png" alt="fotoAbout1.png" style="width: 100%;">
    </div>
    <div class="col-2"></div>
    <div class="col-6">
        <p style="margin-top: 0px; text-align: center;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus, 
            ipsum sit amet tristique varius, diam erat porttitor leo, a maximus 
            quam arcu quis tellus. Pellentesque ornare metus eu velit tempus hendrerit. 
            Praesent scelerisque purus in varius luctus. Praesent eu tellus erat. 
            Nulla vitae sapien eu est pellentesque tempus in nec arcu. 
            Pellentesque vitae augue nec mauris ornare egestas quis vitae erat. 
            Nunc et egestas tortor. Maecenas dapibus orci in faucibus pretium. 
            Cras non consequat quam. Quisque aliquam, lacus eu mattis suscipit, 
            nisi tortor rhoncus nulla, a ultrices metus lacus sed leo. 
            Nullam ornare eros at diam suscipit, ut blandit dolor tristique. 
            Duis est nisl, commodo quis pharetra nec, dapibus eu tortor. 
            Vivamus id libero egestas, ultricies nisi nec, accumsan orci.
            Vestibulum in maximus est, et bibendum augue.
        </p>
    </div>
</div>
</ng-container>