<ng-container *ngIf="!isResponsive">
    <div class="container about">
      <div class="col-12" style="text-align: center;">
        <h1>Pricing</h1>
        <button class="artist-button">Check with Artist</button>
      </div>

      <div class="col-12" style="text-align: center;">
        <h3>Packs</h3>
      </div>

      <div class="col-12 packs-container">
        <div class="pack pack-1">Pack 1</div>
        <div class="pack pack-2">Pack 2</div>
        <div class="pack pack-3">Pack 3</div>
      </div>
      
  
      <img id="top-center-image" src="./assets/Ellipse.png" alt="Ellipse Image">
    </div>
  </ng-container>
  
  <ng-container *ngIf="isResponsive">
    <div class="container about">
      <div class="col-12" style="text-align: center;">
        <h1>Pricing</h1>
        <button class="artist-button">Check with Artist</button>
      </div>

      <div class="col-12" style="text-align: center;">
        <h3>Packs</h3>
      </div>

      <div class="col-12 packs-container">
        <div class="pack pack-1">Pack 1</div>
        <div class="pack pack-2">Pack 2</div>
        <div class="pack pack-3">Pack 3</div>
      </div>
  
      <img id="top-center-image" src="./assets/Ellipse.png" alt="Ellipse Image">
    </div>
  </ng-container>
  